.navbar{
    background: white;
}

.navbar input{
    border: 1px solid gray;
    background-color: whitesmoke;
}

.navbar button{
    border: 1px solid gray;
}

.navbar-brand{
    transition: 200ms;
}

.navbar-brand:hover{
    transform: scale(0.9,0.9);
}

.form-control{
    width: 400px !important;
}

.room-key:active{
    transform: scale(0.9,0.9);
}

.results{
    position: absolute;
    right: 0px;
    z-index: 99;
}

.modal .form-control{
    width: 100% !important;
    border-radius: 0px !important;
}

.modal-content{
    border-radius: 0px !important;
}

.navbar-toggler{
    border: none !important;
}

@media(max-width: 480px){
    .form-control{
        width: 100% !important;
    }

    #search-btn{
        margin-top: 15px;
        margin-right: 0px !important;
        width: 100% !important;
    }

    #invite-btn{
        margin-top: 15px;
        width: 100% !important;
    }
}