.video-section{
    height: 80vh;
    overflow:auto;
}

.video{
    width: 100%;
    height: 70%;
}

iframe{
    border: 0px;
}



@media(max-width: 480px){
    #title{
        font-size: 1.4rem;
    }
    
    #description{
        font-size: 0.8rem;
    }
}